<!DOCTYPE HTML>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorator="layouts/layout">
		
<section layout:fragment="content">
	<p th:text="'You probably logged in!'" />
</section>

</html>
