<!DOCTYPE HTML>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org"
      	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      	
<head>
    <title>Upload a file please</title>
</head>

<body>
    <h1>Please upload a file</h1>
    <form method="post" th:action="@{/repo/upload}" enctype="multipart/form-data">
        <input type="text" name="name"/>
        <input type="file" name="file"/>
        <input type="submit"/>
    </form>
    
    <h1>Or download THE file</h1>
    <a href="#" th:href="@{/repo/download}">Download</a>
</body>

</html>